.spacer1{	
	background-color: #000000;
	height:200px;
}
.text{
	text-align: center;
	margin-top:50%;
	display:table-cell;
	vertical-align:middle;
	font-size:60px;
	
}
.part2{
	height:100%;
	width:50%;
	background-color:#dddddd;
	display:table;
	
}


.switch{	
	background-color: grey;
	width: 400px;
	height: 140px;
	margin: 0 auto;
}

.page {
	height: 500px;
	background-color: #000000;
}

.body {
	background-color: #000000;
}