.board {
	width: 20em;
	height: 20em;
}

.stats {
    margin:  auto ; 
}
.stats .wrapper {
    display: flex;
 }
 .stats #player1 {
    text-align: center;
    display: inline-block;
    width: 30%;
    background-color:black;
    box-sizing: border-box;
    padding: 0 2.5em 2.5em;
    border-top-left-radius: 2.5em;
    color:white; }


     .stats #player2 {
        text-align: center;
        display: inline-block;
        width: 30%;
        background-color:black;
        box-sizing: border-box;
        padding: 0 2.5em 2.5em;
        border-top-right-radius: 2.5em;
        color: red; }
       
        .stats .turn {
            height: 10px;
            width: 60%;
            background: linear-gradient(to right, lightgreen 50%, transparent 50%);
            border-radius: 0 0 2.5em 2.5em; }

            .stats button#cleargame {
                display: block;
                border: 0;
                color: #F1F1FF;
                border-radius: 10px;
                cursor: pointer;
                margin: 20px center 10px;
                float: left;
                padding: 15px;
                margin: 5px;
                background-color:black;}

                
            .stats button#savegame {
                display: block;
                border: 0;
                color: #F1F1FF;
                border-radius: 10px;
                cursor: pointer;
                margin: 20px center 10px;
                float: left;
                padding: 15px;
                margin: 5px;
                background-color:black;}

                
            .stats button#loadgame {
                display: block;
                border: 0;
                color: #F1F1FF;
                border-radius: 10px;
                cursor: pointer;
                margin: 20px center 10px;
                float: left;
                padding: 15px;
                margin: 5px;
                background-color:black;}
